
# Ignore bin folder on Blazor Client
Client/obj/
Client/bin/

# Ignore bin folder on Blazor Server
Server/Properties/
Server/obj/
Server/bin/
Server/appsettings.json


# Ignore bin folder on Blazor Shared
Shared/obj/
Shared/bin/

# Ignore .vscode and .vs
.vscode/
.vs/
