@page "/chat/{Firstname}"

<h1>This is chat page : @Firstname</h1>

<div>
  <Space Direction="vertical" Style="width: 100%;">
    <SpaceItem>
      <TextArea Placeholder="Message" MinRows="3" MaxRows="5" @bind-Value="@txtValue" />
    </SpaceItem>
    <SpaceItem>
      <Button Type="primary">Send Message</Button>
    </SpaceItem>
  </Space>
</div>

@code {
  [Parameter]
  public string Firstname { get; set; }
  public string txtValue { get; set; }



}