@page "/contacts"
@using BlazorChat.Shared.Dtos
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Contacts</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (contacts == null)
{
  <div class="spinnerContainer">
    <Spin />
  </div>
}
else
{
  <AntList DataSource="@contacts" TItem="ContactReadDto">
    <ListItem>
      <ListItemMeta Avatar="avatar" Description="@context.Address">
        <TitleTemplate>
          <a href="/chat/@context.Firstname">@context.Firstname @context.Lastname</a>
        </TitleTemplate>
      </ListItemMeta>
    </ListItem>
  </AntList>

}

  <style>
    .spinnerContainer {
      text-align: center;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 30px 50px;
      margin: 20px 0;
    }
  </style>

  @code {
  private ContactReadDto[] contacts;

  protected override async Task OnInitializedAsync()
  {
    contacts = await Http.GetFromJsonAsync<ContactReadDto[]>("Contacts");
  }
}
