@page "/contacts"
@using BlazorChat.Shared.Dtos
@using BlazorChat.ViewModels
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IContactsViewModel _contactsViewModel

<h1>Contacts</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_contactsViewModel.Contacts == null)
{
  <div class="spinnerContainer">
    <Spin />
  </div>
}
else
{
  <AntList DataSource="@_contactsViewModel.Contacts" TItem="ContactReadDto">
    <ListItem>
      <ListItemMeta Avatar="avatar" Description="@context.Address">
        <TitleTemplate>
          <a href="/chat/@context.Firstname">@context.Firstname @context.Lastname</a>
        </TitleTemplate>
      </ListItemMeta>
    </ListItem>
  </AntList>
}

<style>
  .spinnerContainer {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
</style>

@code {
  protected override async Task OnInitializedAsync() => await _contactsViewModel.GetContacts();

}
