@page "/contacts"
@using BlazorChat.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Contacts</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (contacts == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <AntList DataSource="@contacts" TItem="ContactReadDto">
    <ListItem>
      <ListItemMeta Avatar="avatar" Description="@context.Address">
        <TitleTemplate>
          <a href="/chat/@context.Firstname">@context.Firstname @context.Lastname</a>
        </TitleTemplate>
      </ListItemMeta>
    </ListItem>
  </AntList>

}

  @code {
  private ContactReadDto[] contacts;

  protected override async Task OnInitializedAsync()
  {
    contacts = await Http.GetFromJsonAsync<ContactReadDto[]>("Contacts");
  }

}
