@page "/"
@using BlazorChat.ViewModels
@inject ILoginViewModel _loginViewModel;
@inject NavigationManager _navigationManager;

<h1>Login</h1>

<Form Model="@_loginViewModel" WrapperCol="new ColLayoutParam { Span = 16 }">
    <FormItem Label="Username">
        <Input @bind-Value="@context.Username" />
    </FormItem>
    <FormItem Label="Password">
        <InputPassword @bind-Value="@context.Password" />
    </FormItem>
    <FormItem WrapperCol="new ColLayoutParam{ Span = 16 }">
        <Checkbox @bind-Value="context.RememberMe">Remember me</Checkbox>
    </FormItem>
    <FormItem WrapperCol="new ColLayoutParam{ Span = 16 }">
        <Button Type="@ButtonType.Primary" OnClick="LoginUser">
            Submit
        </Button>
    </FormItem>
</Form>

@code
{
    public async Task LoginUser()
    {
        await _loginViewModel.Login();
        _navigationManager.NavigateTo("/profile", true);
    }
}