@page "/profile"
@using BlazorChat.ViewModels
@inject IProfileViewModel _profileViewModel
@inject NavigationManager NavigationManager

<Title Level="1">Profile</Title>

@if (_profileViewModel.LoadingGet)
{
  <Spin />
}

@if (_profileViewModel.isEditing)
{
  <Form Model="@_profileViewModel" OnFinish="_profileViewModel.UpdateProfile" LabelCol="new ColLayoutParam { Span = 4 }"
    WrapperCol="new ColLayoutParam { Span = 16 }" Loading="_profileViewModel.LoadingUpdate">
    <FormItem Label="Username">
      <Input @bind-Value="context.Firstname" Style="width: 160px" Placeholder="Firstname" />
    </FormItem>
    <FormItem Label="Lastname">
      <Input @bind-Value="context.Lastname" Style="width: 160px" Placeholder="Lastname" />
    </FormItem>
    <FormItem label="Address">
      <Input @bind-Value="context.Address" Placeholder="Address" />
    </FormItem>
    <FormItem WrapperCol="new ColLayoutParam { Offset = 4, Span = 16 }">
      <Button OnClick="(e)=> {_profileViewModel.Edit();}">
        Cancel
      </Button>
      <Button HtmlType="submit">
        Update
      </Button>
    </FormItem>
  </Form>
}
else
{
  <Space Direction="vertical">
    <SpaceItem>
      <AntDesign.Row>
        <AntDesign.Col Xs="24" Md="18" Lg="12">
          <Card>
            <CardGrid Style="width:25%;text-align:center">
              <Text Strong>Firstname</Text>
            </CardGrid>
            <CardGrid Style="width:75%;text-align:center">
              @_profileViewModel.Firstname
            </CardGrid>
            <CardGrid Style="width:25%;text-align:center">
              <Text Strong>Lastname</Text>
            </CardGrid>
            <CardGrid Style="width:75%;text-align:center">
              @_profileViewModel.Lastname
            </CardGrid>
            <CardGrid Style="width:25%;text-align:center">
              <Text Strong>Address</Text>
            </CardGrid>
            <CardGrid Style="width:75%;text-align:center">
              @_profileViewModel.Address
            </CardGrid>
          </Card>
        </AntDesign.Col>
      </AntDesign.Row>
    </SpaceItem>
    <SpaceItem>
      <Button OnClick="(e) => {_profileViewModel.Edit();}">Edit</Button>
    </SpaceItem>
  </Space>
}


@code {
  [CascadingParameter]
  private Task<AuthenticationState> authenticationStateTask { get; set; }

  protected override async Task OnInitializedAsync()
  {
    var authState = await authenticationStateTask;
    var user = authState.User;

    if (user.Identity.IsAuthenticated)
    {
      var userId = user.FindFirst(c => c.Type == "UserId")?.Value;
      _profileViewModel.Id = userId;
      await _profileViewModel.GetProfile();
    }
    else
    {
      NavigationManager.NavigateTo("/");
    }
  }
}