@page "/settings"
@using BlazorChat.ViewModels
@inject ISettingsViewModel _settingsViewModel

<h1>Settings</h1>

@if (_settingsViewModel.LoadingGet)
{
  <div class="spinnerContainer">
    <Spin />
  </div>
}
else
{
  <Space Direction="vertical">
    <SpaceItem>
      Dark Theme
      <Switch Checked=_settingsViewModel.DarkTheme OnChange=_settingsViewModel.DarkThemeChange />
    </SpaceItem>
    <SpaceItem>
      Notification
      <Switch Checked=_settingsViewModel.Notifications OnChange=_settingsViewModel.NotificationsChange />
    </SpaceItem>
    <SpaceItem>
      <Button Type="primary" @onclick="_settingsViewModel.Save" Loading="_settingsViewModel.LoadingUpdate">Update
        settings</Button>
    </SpaceItem>
  </Space>
}

@code {
  protected override async Task OnInitializedAsync() => await _settingsViewModel.GetProfile();
}
