@page "/settings"
@using BlazorChat.ViewModels
@inject ISettingsViewModel _settingsViewModel

<h1>Settings</h1>

@if (_settingsViewModel.LoadingGet)
{
  <div class="spinnerContainer">
    <Spin />
  </div>
}
else
{

  <input type="checkbox" @bind="@_settingsViewModel.Notifications" id="chkNotification">
  <label> Notification </label>
  <br>

  <input type="checkbox" @bind="@_settingsViewModel.DarkTheme" id="chkDarkTheme">
  <label> Dark Theme </label>
  <br>

  <Button Type="primary" @onclick="_settingsViewModel.Save" Loading="_settingsViewModel.LoadingUpdate">Update
    settings</Button>
}

@code {
  protected override async Task OnInitializedAsync() => await _settingsViewModel.GetProfile();
}
