@page "/settings"
@using BlazorChat.ViewModels
@inject ISettingsViewModel _settingsViewModel
@inject NavigationManager NavigationManager

<h1>Settings</h1>

@if (_settingsViewModel.LoadingGet)
{
  <div class="spinnerContainer">
    <Spin />
  </div>
}
else
{
  <Space Direction="vertical">
    <SpaceItem>
      Dark Theme
      <Switch Checked=_settingsViewModel.DarkTheme OnChange=_settingsViewModel.DarkThemeChange />
    </SpaceItem>
    <SpaceItem>
      Notification
      <Switch Checked=_settingsViewModel.Notifications OnChange=_settingsViewModel.NotificationsChange />
    </SpaceItem>
    <SpaceItem>
      <Button Type="primary" @onclick="_settingsViewModel.Save" Loading="_settingsViewModel.LoadingUpdate">Update
        settings</Button>
    </SpaceItem>
  </Space>
}

@code {
  [CascadingParameter]
  private Task<AuthenticationState> authenticationStateTask { get; set; }

  protected override async Task OnInitializedAsync()
  {
    var authState = await authenticationStateTask;
    var user = authState.User;

    if (user.Identity.IsAuthenticated)
    {
      var userId = user.FindFirst(c => c.Type == "UserId")?.Value;
      _settingsViewModel.Id = userId;
      await _settingsViewModel.GetProfile();
    }
    else
    {
      NavigationManager.NavigateTo("/");
    }
  }
}